/*COLOR*/

main{
    background:#371a94
  }
footer{
    background:black;
  }
ul>li a,main,p a{
    color:white;
  }

/*MARGIN AND PADDING*/

body{
    margin:0;
  }
.icons,table{
    margin:1rem;
  }
article,.img-upper,section,h2{
    margin-top:2rem;
  }
article p,section h3{
    margin-top:1rem;
  }
.img-upper{
    margin:auto;
  }
.schedule-location{
    margin-bottom:2rem;
  }
p,h3{
  margin-left:1rem;
}
tr td,th{
      padding:1rem;
    }

/*HEIGHTS & WIDTHS*/

body{
    width:100%;
  }
.logo-img{
    width:5rem;
    height:5rem;
  }
.icons,.back-to-top{
    width:2.5rem;
    height:2.5rem;
  }
.img-upper{
    width:60%;
    height:150px;
  }
.img-section{
  width:90%;
  height:150px;
}
/*TEXT STYLE*/

p{
    letter-spacing: 1px;
  }
ul>li a,p a{
    text-decoration:none;
  }
  
.contact>ul li,.social>ul li,nav>ul li{
    list-style: none;
  }
thead th,td,h2,.project p{
    text-align: center;
  }
p a:hover,h2{
    text-decoration:underline;
  }
li a:hover{
  color:white;
}
.text-right{
  text-align:right;
}
/*BORDER*/

.icons{
    border-radius:10%;
  }

/*FONT*/

h3{
    font-style:italic;
  }
p,h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

/*LAYOUT WITH FLEXBOX*/

ul>li a,footer,.contact>ul,.social>ul,.schedule-location,
.schedule,body,.img-article,.button-center,.img-upper,.list-center,.img-wrap
{
  display: flex;
}
.contact>ul,.social>ul{
  justify-content:space-around;
}
.button-center,.img-upper,.list-center,.img-wrap{
  justify-content:center;
}

footer,.schedule,body,section>ul,.schedule-location{
  flex-direction: column;
}

.schedule-location{
  align-content:center;
}


/*LAYOUT*/

.back-to-top{
    position: fixed;
    bottom:100px;
    right:0;
  }
.body{
    position:relative;
  }




@media screen and (min-width:400px){
  .img-section{
      width:60%;
    }
  }

@media screen and (min-width:640px) {
  .schedule-location{
      flex-direction:row;
      justify-content: space-around;
    }
  .img-upper,.img-section{
      height:300px;
    }
  }

@media screen and (min-width:1316px){
  .img-section{
    height:350px;
  }
}

@media screen and (min-width:1598px){
  .img-section{
    width:50%;
  }

  .img-upper{
    height:450px;
  }
}